<form action="{{ view }}" method="post" class="form-horizontal">

    <div class="row form-group">

        <input id="product-id" name="product-id" type="hidden" value="{{ product.id }}">

        <div class="col col-md-3">
            <label for="product-name" class=" form-control-label" >Name</label>
        </div>
        <div class="col-12 col-md-9">
            <input id="product-name" name="product-name"
                   placeholder="Enter product name..." class="form-control" type="text"
                   value="{{ product.name }}"
                   required>
            <span class="help-block">Please enter product name</span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col col-md-3">
            <label for="product-default-price" class=" form-control-label" required>Default Price</label>
        </div>
        <div class="col-12 col-md-9">
            <input id="product-default-price" name="product-default-price" placeholder="Enter default price..." class="form-control"
                   value="{{ product.defaultPrice }}"
                   required
                   type="number">
            <span class="help-block">Please enter default price</span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col col-md-3">
            <label for="product-discount" class=" form-control-label">Discount</label>
        </div>
        <div class="col-12 col-md-9">
            <input id="product-discount" name="product-discount" placeholder="Enter discount..."
                   class="form-control"
                   value="{{ product.discount }}"
                   type="number">
            <span class="help-block">Please enter discount</span>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <strong class="card-title">Additional Prices</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Value</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Expiration Date</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody id="add-price-tbody">
                <tr class="price-tr" hidden>
                    <td>
                        <input name="price[value][]" class="form-control" type="number">
                    </td>
                    <td>
                        <input name="price[start-date][]" class="form-control" type="date">
                    </td>
                    <td>
                        <input name="price[expiration-date][]" class="form-control" type="date">
                    </td>
                    <td>
                        <a href="#" class="delete-add-price"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% for price in product.getAdditionalPrices() %}
                <tr>
                    <td>
                        <input name="price[value][]" class="form-control" type="number"
                        value="{{ price.value }}">
                    </td>
                    <td>

                        <input name="price[start-date][]" class="form-control" type="date"
                        value='{{ price.startDate | date('Y-m-d') }}'>
                    </td>
                    <td>
                        <input name="price[expiration-date][]" class="form-control" type="date"
                        value="{{ price.expirationDate |date('Y-m-d') }}">
                    </td>
                    <td>
                        <a href="#" class="delete-add-price"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
            <a id="add-price" href="#"><i class="fa fa-plus fa-2x"></i> </a>
        </div>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="btn btn-danger btn-sm">
            <i class="fa fa-ban"></i> Reset
        </button>
    </div>
</form>