{% extends 'layouts/main.twig' %}

{% block title %}{{ parent() }} - {{ product.name }} {% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block head_links %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Director (Year)',  'Rotten Tomatoes', 'IMDB'],
                ['Alfred Hitchcock (1935)', 8.4,         7.9],
                ['Ralph Thomas (1959)',     6.9,         6.5],
                ['Don Sharp (1978)',        6.5,         6.4],
                ['James Hawes (2008)',      4.4,         6.2]
            ]);

            var options = {
                title: 'The decline of \'The 39 Steps\'',
                vAxis: {title: 'Accumulated Rating'},
                isStacked: true
            };

            var chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    </script>

    {% endblock %}

{% block pageTitle %} {{ product.name }} {% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ path('home') }}">Home</a></li>
    <li><a href="{{ path('products') }}">Products</a></li>
    <li class="active">{{ product.name }}</li>
{% endblock %}


{% block content %}
        <div class="row card">
            <div class="col-sm-12">
                <a class="btn btn-danger btn-" href="{{ path('product_delete', { 'id' : product.id }) }}">Delete</a>
                <a class="btn btn-info" href="{{ path('product_update', { 'id' : product.id }) }}">Update</a>
            </div>
        </div>
    <hr>
    <div class="card">


      <div class="row">
          <div class="col-sm-3"><p>ID:</p></div>
          <div class="col-sm-9">{{ product.id }}</div>
      </div>
      <div class="row">
          <div class="col-sm-3"><p>Name:</p></div>
          <div class="col-sm-9">{{ product.name }}</div>
      </div>
      <div class="row">
          <div class="col-sm-3"><p>Default price:</p></div>
          <div class="col-sm-9">{{ product.defaultPrice }} UAH</div>
      </div>
      <div class="row">
          <div class="col-sm-3"><p>Discount:</p></div>
          <div class="col-sm-9">{{ product.discount }}%</div>
      </div>
      <div class="row">
          <div class="col-sm-3"><p>Current price:</p></div>
          <div class="col-sm-9">{{ product.getCurrentPrice() }} UAH</div>
      </div>

      <div class="row">
          <div class="col-sm-3"><p>Price with discount:</p></div>
          <div class="col-sm-9">{{ product.getCurrentPrice()*(1-product.discount/100) }} UAH</div>
      </div>

    </div>

    <div class="card">
        <div class="card-header">
            <strong class="card-title">Additional Prices</strong>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Value</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Expiration Date</th>
                </tr>
                </thead>
                <tbody>
                {% for price in product.getAdditionalPrices() %}
                <tr>
                    <td>{{ price.value }} UAH</td>
                    <td>{{ price.startDate | date('d/m/Y') }}</td>
                    <td>{{ price.expirationDate | date('d/m/Y') }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Dynamic Price Changing (shortest)</strong>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Value</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Expiration Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for price in product.getDynamicPriceChanging('shortest') %}
                        <tr>
                            <td>{{ price.id }}</td>
                            <td>{{ price.value }} UAH</td>
                            <td>{{ price.startDate | date('d/m/Y') }}</td>
                            <td>{{ price.expirationDate | date('d/m/Y') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Dynamic Price Changing (lasting)</strong>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Value</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Expiration Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for price in  product.getDynamicPriceChanging %}
                        <tr>
                            <td>{{ price.id }}</td>
                            <td>{{ price.value }} UAH</td>
                            <td>{{ price.startDate | date('d/m/Y') }}</td>
                            <td>{{ price.expirationDate | date('d/m/Y') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div id="chart_div" style="width: 100%; height: 500px;"></div>
    </div>


{% endblock %}

